

#code-review-sidenav-issue-category
{

}

#code-review-sidenav-issue-subcategory
{
    display: none;
}

#code-review-sidenav-comment-textbox
{
    border-color: #ffffff;
    border-style: solid;
	border-width: 2px;
    font-weight: bold;
    font-size: calc(13px + 0.5vw);
    text-align: left;

    width:90%;
    margin:1.5% 2%;
    padding: 2px 10px;

    float:left;
}

#code-view-instructions
{
    padding: 1px 10px;
    font-weight: bold;
    font-size: calc(8px + 0.5vw);
    text-align: left;
}
