<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assignments-student.css">
    <link rel="stylesheet" href="../../modals/submit-assignment.css">
  </head>

  <body>

    <div class="box">
      <h3>Submission Deadlines</h3>
      <table id="student-assignments-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Submitted?</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

      <br>
      <hr>
      <br>
      <h3>Review Deadlines</h3>
      <table id="student-assignments-review-deadlines-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Version</th>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>


    </div>




  </body>
</html>
