<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="profile.css">
  </head>

  <body>
    <div class="box">
      <h3>Your scores in standard learning</h3>


      <div id="profile-std-selector" style="width:100%"></div>
      <hr>
      <div id="profile-std-internalisation-level-div" style="display:none;">
        <label style="font-weight: bolder; font-size: 150%"   >Your Level: </label ><label id="profile-std-internalisation-level-label"></label>
      </div>

        <div id="profile-std-exam-ready-div" style="display:none;">
        <span style="font-weight: bold; font-size: 130%"   >Exam Charge: </span >
        <span id="profile-std-exam-ready-bar-div" style="display:none;">      </span>
      </div>


      <hr>
      <div id="profile-std-internalization-progress"></div>



    </div>

  </body>
</html>
