<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="challenge.css">
</head>

<body>
<button id="challenge-tutorial-button">"Tutorial"<br>YouTube Video<br>(Enable captions)</button>

<button id="challenge-report-error">Report an error<br>After challenge is done</button>




<div class="box-left codebox-style" id="challenge-code-box">
<div id="challenge-file-select">
</div>
<pre id="challenge-precode-area" class="line-numbers">
<code id="challenge-code-review" class="language-cpp"></code>
</pre>
</div>

<div class="box-right" id="challenge-comment-box">

<fieldset>
    <legend id="challenge-legend">Challenge</legend>
    <label id="challenge-done" class="challenge-done">0/0</label>
    <div id="challenge-chain-done-progress"></div>
</fieldset>

<fieldset>
    <legend>Issues</legend>
    <fieldset>
        <legend>Present Issues</legend>
        <div id="challenge-present-issues" ></div>
    </fieldset>

    <br>


    <label id="total-issues-label">Total: </label><label id="total-issues"></label>
    <hr>


    <table id="challenge-data-table">
        <tr>
            <th></th>
            <th>Line</th>
            <th style= "width: 65%;" >Issue</th>
            <th>Correct</th>
        </tr>
    </table>
    <br>
</fieldset>




<fieldset>
    <legend>Your Time</legend>
    <label id="challenge-timer" class="challenge-timer">00:00</label>
</fieldset>






<fieldset>
<legend id="challenge-submit-legend">Submit and see results?</legend>
<div id="challenge-submit-div">
<button id="challenge-submit">YES</button>
</div>
</fieldset>



    <fieldset class="code-view-tips">
        <legend>Tips on system use</legend>

        <ul>
            <li>To select a line of code with an issue - click a line number on the codeview.</li>
            <li>You can add an issue one at a time.</li>
            <li>To cancel issue creation - press [x] on a popping side modal.</li>
            <li>If a line of code looks too long - it really may be too long.</li>
        </ul>
    </fieldset>
</div>




<!-- Side Modal with work to review -->
<div id="challenge-code-side-modal" class="sidenav">
<a href="javascript:void(0)" class="closebtn" id="challenge-code-side-modal-close">&times;</a>

<fieldset class="code-review-sidenav-fieldset" id="challenge-code-sidenav-std-search">
    <legend class="code-review-sidenav-legend">Search standard</legend>
    <div>
        <input type="text" id="challenge-code-sidenav-std-search-input" value="">
        <span id="challenge-code-sidenav-std-search-command-div"></span>
    </div>
    <br>
    <br>
    <div id="challenge-code-sidenav-std-search-results"></div>
</fieldset>

<fieldset class="code-review-sidenav-fieldset" id="challenge-code-sidenav-issue-category">
<legend class="code-review-sidenav-legend">Select the category of the issue</legend>
<div id="challenge-code-category-select-div">
</div>
</fieldset>
</div>
</body>
</html>
