<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <link rel="stylesheet" href="signup.css">
  </head>

  <body>
    <div class="signup-box">


<fieldset>
    <legend>Email</legend>
        <input type="textbox" id="signup-email" placeholder="Your @itcarlow.ie email">
  </fieldset>

<fieldset>
    <legend>First Name</legend>
        <input type="textbox" id="signup-name" placeholder="Your First Name">
</fieldset>

<fieldset>
    <legend>Surname</legend>
        <input type="textbox" id="signup-surname" placeholder="Your Surame">
</fieldset>


<fieldset>
    <legend>What do you like?</legend>
        <input type="textbox" id="signup-noun" placeholder="e.g. pizza, T-Rex, bed">
  </fieldset>

<fieldset>
    <legend>Select your group</legend>
            <select id="signup-group">
            <option value="y1a">Year 1 Group A</option>
            <option value="y1b">Year 1 Group B</option>
            <option value="y2">Year 2</option>
            <option value="y3">Year 3</option>
            <option value="y4">Year 4</option>
            <option value="other">Other</option>
            </select>
 </fieldset>





<fieldset>
    <legend>Password</legend>
        <input type="password" id="signup-password">
   </fieldset>

<fieldset>
    <legend>Confirm Password</legend>
        <input type="password" id="signup-confirm-password">
 </fieldset>






      <div> <!--ERROR MESSAGE-->
        <label id="signup-error" class="error-text"></label>
      </div>
      <br>
      <!--SIGN UP BUTTON-->
      <button id="signup-button">Sign up</button>
    </div>
  </body>
</html>
