<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="change-password.css">
  </head>

  <body>
  <div class="change-password">
  <fieldset>
    <legend>Enter your old credentials</legend>
        <input type="textbox" id="change-password-email" placeholder="@itcarlow.ie">
        <input type="password" id="change-password-old-password" placeholder="Old Password">

  </fieldset>

  <fieldset>
    <legend>Enter your new password</legend>
       <input type="password" id="change-password-new-password" placeholder="New Password">
       <input type="password" id="change-password-repeat-new-password" placeholder="Confirm Password">
  </fieldset>


      <div> <!--ERROR MESSAGE-->
        <label id="change-password-error" class="error-text"></label>
      </div>
        <br>



      <button id="change-password-button" class="change-password-button">Submit</button>
    </div>
  </body>
</html>
