<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="see-standards-teacher.css">
  </head>

  <body>

 <div class="box">
    <fieldset id="see-standards-selector">
        <legend>Select Standard to tweak</legend>

    </fieldset>
    <button id="see-standards-save-standard-configurations" style="float:right">Save Changes</button>
     <br>

    <div id="std-doc-link">Link: </div>
    <table id="see-standard-teacher-table">
    <tr>
    <th style="width:30%">Enabled</th>
    <th style="width:160%">Name</th>
    <th style="width:35%">Reward score</th>
    <th style="width:35%">Penalty score</th>
    <th style="width:30%">Unlock at level:</th>
    <th style="width:30%">Collapse</th>

    </tr>
    </table>

  </div>

  </body>
</html>
