<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="perform-review-student.css">
  </head>

  <body>
    <div class="box-left">
      <table id="student-assignments-submissions-table">
        <tr>
          <th>Assignment Name</th>
        </tr>
      </table>
    </div>

      <div class="box-right">
      <table id="student-submissions-to-review-table">
        <tr>
          <th>Submitter</th>
          <th>Reviewed</th>
        </tr>
      </table>
    </div>


  </body>
</html>
