<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="manage-systems-teacher.css">
  </head>

  <body>

    <div class="box">
      <fieldset>
        <legend>Manage system versions</legend>
           <fieldset>
                <legend>Select group</legend>
               <span id="manage-systems-group-select"></span>
           </fieldset>




        <button id="manage-systems-teacher-switcher">Invert Versions</button>
        <br>
        <button id="manage-systems-teacher-choice">Let students select version</button>
      </fieldset>

        <fieldset>
        <legend>Challenge Only Mode</legend>
            <p>This button switches off the features like assignments, reviews of the assignments between students as well
            as any means to see work submitted and feedback received on it.</p>
        <button id="manage-systems-teacher-challenge-mode-only"></button>

      </fieldset>



      <table id="manage-systems-teacher-table">
        <tr>
            <th>Get Performance</th>
          <th>Full Name</th>
          <th>Group</th>
          <th>Standard Internalisation</th>
          <th>Gamified?</th>
        </tr>
      </table>
    </div>



  </body>
</html>
