<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="assignments-teacher.css">
  </head>

  <body>

    <div class="box">
      <table id="teacher-assignments-table">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Completion Date</th>
          <th>Completion Time</th>
          <th>Status</th>
        </tr>


        <tr>
          <td>
            <img id="add-assignment-button" src="resources\images\plus-button.png" class="picture-button">
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>

    </div>



  </body>
</html>
